<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
    <header>
        <a href="/">Admin</a>
        <a href="/home">Home</a>
    </header>
    <main>
        <div>
            <h1 id="ongoing">Ongoing Events</h1>
            <%events.forEach(function(event) { %>
            <b>Name:</b> <%=event.name %> <b>|</b> <%= event.date %> <br>
            <h4><em>Description:</em> <%= event.description %></h4>
            <div class="task-buttons">
                <button class="edit-button"><a href="/edit/<%= event.id %>/edit">Edit</a></button>
                <form action="/edit/<%= event.id %>/delete" method="POST" style="display:inline;">
                    <button class="delete-button" type="submit">Delete</button>
                </form>
            </div>
            <% }); %>
        </div>
    </main>
    <form id="edit" action="/edit" method="POST">
        <fieldset>
            <legend>New Event:</legend>
            <label for="name">Name of Event:</label>
            <input type="text" id="name" name="name" required><br><br>
            <label for="date">Date:</label>
            <input type="date" id="date" name="date" required><br><br>
            <label for="description">Description of Event:</label>
            <input type="text" id="description" name="description" required><br><br>
            <input type="submit" value="Submit">
        </fieldset>
    </form>
</body>
</html>